*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
   
  }

  
body {
	background-color: white;
	margin: 0;
	font-family: 'Merriweather', serif;
}

  /*navigation bar*/
  .search{
	padding-top:10px;
	margin-right: -35vh;
  }
 .nav-button{
	margin-right: -15vh;
 }
 .cart{
	margin-right: -90vh;
 }
  .cart img{

width: 30px;
height: 30px;
/* margin-left: 20px; */
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
  .wrapper{
    
background: transparent linear-gradient(90deg, #ff0000 0%, #e28f8f 45%, #e93d3d 100%) 0% 0% no-repeat padding-box;



  opacity: 1;
  display: flex;
	/* position: fixed; */
	width: 100%;
	height: 64px;
	font-family: 'Merriweather', serif;
  }
  .wrapper nav{
	position: relative;
	display: flex;
	max-width: calc(100% - 200px);
	margin: 0 auto;
	height: 70px;
	align-items: center;
	justify-content: space-between;
  }
  nav .content{
	display: flex;
	align-items: center;
	float: left;
	margin-left: -60vh;
  }
  nav .content .links{
	margin-left: -10px;
	display: flex;
  }
  .content .logo img{
  
  
	padding-top: 5px;
  margin-left: -40vh;
	top: 14px;
	left: 38px;
	width: 200px;
	height: 60px;
	/* UI Properties */
	background: transparent  0% 0% no-repeat padding-box;
	opacity: 1;
  }
  .content .links li{
	
	list-style: none;
	line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
	color: #fff;
	font-size: 15px;
	
	padding: 9px 17px;
	border-radius: 5px;
	transition: all 0.3s ease;
  }
  .content .links li label{
	display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
	background: white;
	color:#e93d3d;
  }
  .wrapper .search-icon,
  .wrapper .menu-icon{
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	line-height: 70px;
	width: 70px;
	text-align: center;
  }
  .wrapper .menu-icon{
	display: none;
  }
  .wrapper #show-search:checked ~ .search-icon i::before{
	content: "\f00d";
  }
  
  .wrapper .search-box{
	position: absolute;
	height: 100%;
	max-width: calc(100% - 50px);
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
  }
  .wrapper #show-search:checked ~ .search-box{
	opacity: 1;
	pointer-events: auto;
  }
  
  
  .button1{
  
	border:none;
	text-align: left;
	padding:16px 32px;
	font-family: 'Merriweather', serif;
	font-size:14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	margin: 9px 25px;
	width: 130px;
	height: 44px;
	/* background: transparent  0% 0% no-repeat padding-box; */
	}
	.button1{
		background: transparent  0% 0% no-repeat padding-box;
		font-family: 'Merriweather', serif;
		font-size:14px;
		color: #FFFFFF;
		border: 3px solid #FFFFFF;
		box-shadow: 3px 5px 10px #00000029;
		border-radius: 30px;
		letter-spacing: 0px;
		padding-top:8px;
		padding-right: 130px;
	  text-align: center;
	}
	.button1:hover{
	  cursor: pointer;
		display: block;
		background-color:white;
		color: #e93d3d;
	}
	
  
  .search-box input{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 17px;
	color: #fff;
	background: #171c24;
	padding: 0 100px 0 15px;
  }
  .search-box input::placeholder{
	color: #f2f2f2;
  }
  .search-box .go-icon{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	line-height: 60px;
	width: 70px;
	background: #171c24;
	border: none;
	outline: none;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
  }
  .wrapper input[type="checkbox"]{
	display: none;
  }
  
  /* Dropdown Menu code start */
  .content .links ul{
	position: absolute;
	background: #e93d3d;
	opacity: 1;
	/* background: #306EB0; */
	margin-top: -6px;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
  }
  .content .links li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
  }
  .content .links ul li a{
	display: block;
	width: 100%;
	line-height: 30px;
	border-radius: 0px!important;
  }
  .content .links ul ul{
	position: absolute;
	top: 0;
	right: calc(-100% + 8px);
  }
  .content .links ul li{
	position: relative;
  }
  .content .links ul li:hover ul{
	top: 0;
  }
  
  /* Responsive code start */
  @media screen and (max-width: 1250px){
	.wrapper nav{
	  max-width: 100%;
	  padding: 0 20px;
	}
	nav .content .links{
	  margin-left: 30px;
	}
	.content .links li a{
	  padding: 8px 13px;
	}
	.wrapper .search-box{
	  max-width: calc(100% - 100px);
	}
	.wrapper .search-box input{
	  padding: 0 100px 0 15px;
	}
  }
  
  @media screen and (max-width: 900px){
	.wrapper .menu-icon{
	  display: block;
	}
	.wrapper #show-menu:checked ~ .menu-icon i::before{
	  content: "\f00d";
	}
	nav .content .links{
	  display: block;
	  position: fixed;
	  background: #14181f;
	  height: 100%;
	  width: 100%;
	  top: 70px;
	  left: -100%;
	  margin-left: 0;
	  max-width: 350px;
	  overflow-y: auto;
	  padding-bottom: 100px;
	  transition: all 0.3s ease;
	}
	nav #show-menu:checked ~ .content .links{
	  left: 0%;
	}
	.content .links li{
	  margin: 15px 20px;
	}
	.content .links li a,
	.content .links li label{
	  line-height: 40px;
	  font-size: 20px;
	  display: block;
	  padding: 8px 18px;
	  cursor: pointer;
	}
	.content .links li a.desktop-link{
	  display: none;
	}
  
	/* dropdown responsive code start */
	.content .links ul,
	.content .links ul ul{
	  position: static;
	  opacity: 1;
	  visibility: visible;
	  background: none;
	  max-height: 0px;
	  overflow: hidden;
	}
	.content .links #show-features:checked ~ ul,
	.content .links #show-services:checked ~ ul,
	.content .links #show-items:checked ~ ul{
	  max-height: 100vh;
	}
	.content .links ul li{
	  margin: 7px 20px;
	}
	.content .links ul li a{
	  font-size: 18px;
	  line-height: 30px;
	  border-radius: 5px!important;
	}
  }
  
  @media screen and (max-width: 400px){
	.wrapper nav{
	  padding: 0 10px;
	}
	.content .logo a{
	  font-size: 27px;
	}
	.wrapper .search-box{
	  max-width: calc(100% - 70px);
	}
	.wrapper .search-box .go-icon{
	  width: 30px;
	  right: 0;
	}
	.wrapper .search-box input{
	  padding-right: 30px;
	}
  }
 /* slider */
 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent linear-gradient(270deg, #00000000 0%, #FFFFFFCC 100%) 0% 0% no-repeat padding-box;
/* border: 1px solid #707070; */
opacity: 1;
	/* background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2)); */
}
.hero-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.hero-slider .carousel-cell {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero-slider .carousel-cell .inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
	
}
.hero-slider .carousel-cell .inner .subtitle {
   /* font-family: 'Merriweather', serif; */
	margin-left: 70px;
	text-align: center;
	font-size: 2.2rem;
	line-height: 1.2em;
	font-weight: 200;
	font-style: none;
	letter-spacing: 3px;
	/* color: rgba(255, 255, 255, 0.5); */
	margin-bottom: 5px;
	text-align: left;
font-family: normal normal normal 44px/53px Avenir LT Std;
letter-spacing: 0px;
color: #ae2525;
opacity: 1;
/* text-transform: uppercase; */
}
.hero-slider .carousel-cell .inner .title {
   margin-left: 35px;
	
   /* font-family: 'Merriweather', serif; */
	font-size: 3rem;
	line-height: 1.2em;
	text-transform: uppercase;
   
	letter-spacing: 15px;
	margin-bottom: 40px;
	text-align: left;
	

	text-align: left;
font-family: normal normal bold 60px/84px Tiempos Headline;
letter-spacing: 30px;
color: #ae2525;
opacity: 1;
}
.hero-slider .carousel-cell .inner .btn {
	/* border: 1px solid #fff; */
	padding: 14px 18px;
	text-transform: uppercase;
	font-family: normal normal normal 44px/53px Avenir LT Std;
   /* font-family: 'Merriweather', serif; */
	font-size: 0.8rem;
	letter-spacing: 3px;
	color: #ae2525;
	text-decoration: none;
	transition: all 0.2s ease;
	text-align: left;
	background-color: white;
	float: left;
	margin-left: 257px;
   
   
   border-radius: 30px;
}
.hero-slider .carousel-cell .inner .btn:hover {
	background: #ae2525;
	color: white;
}
.hero-slider .flickity-prev-next-button {
	width: 80px;
	height: 80px;
	background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
	background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
	fill: white;
}
.hero-slider .flickity-page-dots {
	bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
	width: 30px;
	height: 4px;
	opacity: 1;
	background: white;
	/* background: rgba(255, 255, 255, 0.5); */
	border: 0 solid white;
	border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
	background: #ae2525;
	border: 0 solid  #ae2525;
}
/*consultant div */


.consultant{
	background: transparent linear-gradient(270deg, #efc4cf 0%,  #eb9698 21%, #e95271 100%) 0% 0% no-repeat padding-box;
opacity: 1;
width: 100%;
height: 18vh;
}

.consult{
	margin-top: 0px;
	padding-top: 41px;
	padding-left: 40px;
	font-size: 20px;
width: 600px;
/* height: 61px; */

	text-align: left;
font: normal normal 900 44px/53px Avenir LT Std;
letter-spacing: 2px;
color: #FFFFFF;
opacity: 1;
}

.consultant .chat-button .chat {
	margin-right: 30vh;
	margin-top: -7.5vh;
	/* border: 1px solid #fff; */
	padding: 14px 18px;
	text-transform: uppercase;
	
	font-family: normal normal normal 44px/53px Avenir LT Std;
   /* font-family: 'Merriweather', serif; */
	font-size: 0.8rem;
	letter-spacing: 3px;
	color: #e93d3d;
	text-decoration: none;
	transition: all 0.2s ease;
	text-align: left;
	background-color: white;
	float: right;
	/* border: 3px solid #FFFFFF; */
    
    border-radius: 30px;
}
.consultant .chat-button img{
	align-items: right;
	width: 308px;
height: 20vh;
/* UI Properties */
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}
.consultant .chat-button .chat:hover {
	background: #e93d3d;
	color: white;
}

/* video */
.video{
	background: var(--unnamed-color-ae2525) 0% 0% no-repeat padding-box;
	background: #ae2525 0% 0% no-repeat padding-box;
	
	opacity: 1;
width: 100%;
height: 80vh;
}
.video1{
    float: left;
    margin-top: 100vh;
}
.book{
    margin: -40px 80px;
    float: right;
}
.video .impulse .btn-expert{

	padding: 14px 0px 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8rem;
	 letter-spacing: 3px;
	 color: #e93d3d;
	 text-decoration: none;
	 transition: all 0.2s ease;
	 text-align: center;
	 background-color: white;
	 float: left;
	width:300px;
	
	 text-transform: uppercase;
    border-radius: 15px;
	font-family: normal normal normal 44px/53px Avenir LT Std;

}

.eye-ex{
	float:right;
    padding-top: 80px;
    
	padding-bottom: 100px;
	/* margin: 20vh 20vh 0vh 0vh; */
	/* font: normal normal normal 25px/20px Avenir LT Std; */
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.impulse{
    margin-top: 60px;
    float: right;
    width: 50%;
}

.impulse12 {
    color: white;
   font: normal normal normal 150px/20px Avenir LT Std;
   height: 20px;
   font-size: 30px;
} 
 .impulse a {
    margin-right: 30vh;
    float: right;
    
   
letter-spacing: 0px;
color: white;
opacity: 1;
/* font-weight: bold; */

    
    width: 50%;
    
}
.eye p{
	margin-top: 0px;
	font-size: 20px;
width: 540px;
padding-top: 25px;
	padding-left: 40px;
/* height: 61px; */

	text-align: left;
font: normal normal 900 44px/53px Avenir LT Std;
letter-spacing: 2px;
color: #FFFFFF;
opacity: 1;
}
.video .video1{
	margin-left: 80px;
	margin-bottom: 50px;
	margin-top: 80px;
	
}
.video .yvideo{
	margin-top: 0px;
	
}
.yname .eye-ex{
	float: right;
}
.impulse .book .btn-expert:hover{
	color:white;
	background-color:#e93d3d ;
}

/* when to use impulse 12 */
.expert{
	background: transparent linear-gradient(270deg, #efc4cf 0%,  #eb9698 21%, #e95271 100%) 0% 0% no-repeat padding-box;

opacity: 1;
width: 100%;
height: 130vh;
}
.expert .use-impulse{
	/* padding-right: 90px;
	padding-bottom: 100px; */
 
	padding-top: 0px;
	width: 100%;

    font: normal normal normal 25px/25px Avenir LT Std;
}
.expert1 p{
	margin-top: 0px;
	font-size: 20px;
width: 750px;
padding-top: 25px;
	padding-left: 40px;
/* height: 61px; */

	text-align: left;
font: normal normal 900 44px/53px Avenir LT Std;
letter-spacing: 2px;
color: #FFFFFF;
opacity: 1;

}

.f-heading p{
	margin-top: 40px;
	font-size: 20px;
width: 650px;
padding-top: 25px;
	padding-left: 40px;
/* height: 61px; */

	text-align: left;
font: normal normal 900 44px/53px Avenir LT Std;
letter-spacing: 2px;
color: #FFFFFF;
opacity: 1;

}
.expert .use-impulse .use-left p{
	margin-top: 80px;
	float: left;
	text-align: left;
font: normal normal normal 25px/25px Avenir LT Std;
letter-spacing: 0px;
color: #000000;
opacity: 1;
width: 30%;
font-weight: 550;
padding-left: 50px;
}
.f-left ul{
	list-style: none;
}
.f-left ul li{
	list-style: none;
}
.f-right ul{
	list-style: none;
}
.f-right ul li{
	list-style: none;
}
.f-left{
width: 30%;
margin-left: 500px;
margin-top: 50px;
}
.f-left p{
	
	padding-left: 23px;
    margin-top: -1vh;
    
    text-align: left;
    font: normal normal normal 25px/25px Avenir LT Std;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
   
    font-weight: 550;
}
.f-right{
	float: right;
	width: 30%;
	margin-top: -40vh;
	margin-right: 85px;
}
.f-right p{
	margin-top: -1vh;
	padding-left: 23px;
    text-align: left;
    font: normal normal normal 25px/25px Avenir LT Std;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
   
    font-weight: 550;
}
.expert .use-impulse .use-right p{
	float: right;
	text-align: left;
font: normal normal normal 25px/25px Avenir LT Std;
letter-spacing: 0px;
color: #000000;
opacity: 1;
width: 30%;
font-weight: 550;
padding-right: 50px;
margin-top:-315px;
}

.use-impulse img{
	margin-left: 120px;
	float: center;
	width: 20%;
	height: 20%;
	margin-top: 80px;
}
/* product */
.product{
	width: 100%;
	height: 250vh;
	background: var(--unnamed-color-2588ae) 0% 0% no-repeat padding-box;
background: #ae2525 0% 0% no-repeat padding-box;
opacity: 1;
}
.heading-title{

	text-transform: uppercase;

	padding-top: 25px;
	padding-left: 40px;
	margin-top: 0px;
	font-size: 20px;
width: 540px;
height: 20px; 

	text-align: left;
font: normal normal 900 44px/53px Avenir LT Std;
letter-spacing: 2px;
color: #FFFFFF;
opacity: 1;
}
.specification1 ul{
	list-style: none;
}
.specification1 ul li{
	list-style: none;
}
.specification2 ul{
	list-style: none;
}
.specification2 ul li{
	list-style: none;
}
.specification1{
	float: left;
	margin-top: 12vh;
	margin-left: 240px;
}
.specification2{
	float: right;
	margin-top: 12vh;
	margin-right: 240px;
}
.block{
	width: 450px;
	height: 180px;
	margin-bottom: 20px;
	background-color: whitesmoke;
}
/* 
testimonials */



.container{
	background: transparent linear-gradient(270deg, #efc4cf 0%, #eb9698 21%, #e95271 100%) 0% 0% no-repeat padding-box;
opacity: 1;
width: 100%;
height: 105vh;
text-transform: uppercase;
}

.heading{


	margin-top: 0px;
	font-size: 20px;
width: 540px;
padding-top: 25px;
	padding-left: 40px;
/* height: 61px; */

	text-align: left;
font: normal normal 900 44px/53px Avenir LT Std;
letter-spacing: 2px;
color: #FFFFFF;
opacity: 1;
}

.row{
	margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
	
}

.card{
    width: 26%;
	height:500px;
    background: white;
    margin-bottom: 50px;
	border-radius: 50px;
	
}

.card-content{
    color: var(--unnamed-color-306eb0);
    font: normal normal 600 20px/30px Avenir LT Std;
    color: #ae2525;
    text-align: left;
    padding-top: 52px;
	padding-left: 25px;
	padding-right: 25px;
    background: white;
    border-radius: 50px 50px 0px 0px;
}

.card-picture{
    background: var(--unnamed-color-306eb0) 0% 0% no-repeat padding-box;
    background: #ae2525 0% 0% no-repeat padding-box;
	margin-top: 80px;
	
    padding: 70px 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
	height: 30px;
}

.card-picture img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: -3vh;
}

.card-picture h4{
	color: white;
    margin-top: 0px;
    margin-left: 45px;

}

.card:hover{
    transform: scale(1.05);
}



/* RESPONSIVENESS */

@media screen and (max-width:1000px){
    .card{
        width: 40%;
    }
}

@media screen and (max-width:620px){
    .card{
        width: 100%;
    }

    .card-content{
        padding: 20px;
        font-size: 30px;
    }

    .card{
        width: 70%;
    }
}


footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color:#fff;
	background: transparent linear-gradient(90deg, #ff0000 0%, #e28f8f 45%, #e93d3d 100%) 0% 0% no-repeat padding-box;
	/* background: transparent linear-gradient(90deg, var(--unnamed-color-306eb0) 0%, #186790 45%, #009393 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(90deg, #306EB0 0%, #186790 45%, #009393 100%) 0% 0% no-repeat padding-box; */
}
.footer > *{
	flex:1 100%;
}
.footer-left{
	margin-right: 1.25em;
	margin-bottom: 2em;
}
.footer-left img{
	width:50%;
}
h2{
	font-weight: 600;
	font-size:17px;
}
.footer ul{
	list-style:none;
	padding-left: 0;
}
.footer li{
	line-height: 2em;
}
.footer a{
	text-decoration: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.chat-button > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.box a{
	color:#999;
}
.footer-bottom{
	text-align: center;
	color: #999;
	padding-top: 50px;
}
.socials a{
	background: #364a62;
	width:40px;
	height:40px;
	display:inline-block;
	margin-right: 10px;
}
.socials a i{
	color: #e7f2f4;
	padding: 10px 12px;
	font-size:20px;
}
@media screen and (min-width: 600px){
	.footer-right > *{
		flex:1;
	}
	.footer-left{
		flex: 1 0px;
	}
	.footer-right{
		flex: 2 0px;
	}
}

@media (max-width: 600px){
	.footer{
		padding: 15px;
	}
}
.container1 {
    position: absolute;
    height: 900px;
    width: 95%;
    padding-top: 160vh;
    padding-left:50px;
  /*   left: calc(50%  - 750px); */
    display: flex;
  }
  .container2 {
    position: absolute;
    height: 900px;
    width: 95%;
    padding-top: 200vh;
    /* left:20px; */
  /*   left: calc(50%  - 750px); */
    display: flex;
	padding-left: 50px;
  }
  .card2 {
    display: flex;
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
	margin-left:45px;
  }
  .card2 img{
	padding: 10px;
	width: 280px;
	height: 180px;
  }
  
